body{
     background: black; 
}
.logo{
  height: 100px;
  margin-left: 26px;
  margin-top: 15px;
}
.font-size-12{
  font-size: 12px;
}
.heading{
  font-size: 45px;
}
.title-text
{
   margin-top: 20px;

}
.input{
  margin-top: 25px;
  height: 60px;
}
.movie-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.abc{
  display:flex;
 
  font-size: 50px;
}
.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
}
/* Movie Card Hover Effect */
.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
}

/* Carousel Image Styling */
.carousel-img {
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}
.wishlist-hover:hover {
  background-color: yellow !important;
  border-color: yellow !important;
  color: black!important;
}
